html{
font-family: CURSIVE; 
background-image: linear-gradient(#F16161, #E585A8);

}
body {
background-image: linear-gradient(#F16161, #E585A8);    
}

.name1::before {
content: url(https://upload.wikimedia.org/wikipedia/uk/thumb/5/56/Real_Madrid_CF.svg/175px-Real_Madrid_CF.svg.png);
zoom: 0.45;
display: inline-block;

}
.name2::before {
content: url(https://upload.wikimedia.org/wikipedia/uk/thumb/e/e1/Manchester_United_FC.png/185px-Manchester_United_FC.png);
zoom: 0.45;
display: inline-block;
}
.name3::before {
content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/175px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png);
zoom: 0.45;
display: inline-block;
}
.name4::before {
content: url(https://upload.wikimedia.org/wikipedia/uk/thumb/4/47/FC_Barcelona_%28crest%29.svg/175px-FC_Barcelona_%28crest%29.svg.png);
zoom: 0.45;
display: inline-block;
}
.name5::before {
content: url(https://upload.wikimedia.org/wikipedia/uk/c/c5/Ajax_Amsterdam.png);
zoom: 0.29;
display: inline-block;
}
.name6::before {
content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Juventus_FC_-_pictogram_black_%28Italy%2C_2017%29.svg/150px-Juventus_FC_-_pictogram_black_%28Italy%2C_2017%29.svg.png);
zoom: 0.29;
display: inline-block;
}
.name7::before {
content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Logo_of_AC_Milan.svg/150px-Logo_of_AC_Milan.svg.png);
zoom: 0.29;
display: inline-block;
}
.name1:hover {
transform: scale(1.02);
transition: 1.1s;
}
.name2:hover {
transform: scale(1.02);
transition: 1.1s ;
}
.name3:hover {
transform: scale(1.02);
transition: 1.1s ;
}
.name4:hover {
transform: scale(1.02);
transition: 1.1s ;
}
.name5:hover {
transform: scale(1.02);
transition: 1.1s ;
}
.name6:hover {
transform: scale(1.02);
transition: 1.1s ;
}
.name7:hover {
transform: scale(1.02);
transition: 1.1s  ;
}
h1 {
text-align: center;
text-shadow:  3px 3px blanchedalmond ;

}
.name1 {
text-align: center;
}
.name2 {
text-align: center;
}
.name3 {
text-align: center;
}
.name4 {
text-align: center;
}
.name5 {
text-align: center;
}.name6 {
text-align: center;
}
.name7 {
text-align: center;
}
p {
color: #342839;

}
h1:hover {
transform: scale(1.06);
transition: 1.1s;

}
